@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --yellow: #FFCB05;
    --white: #ffffff;
    --gray: #111111;
}

body {
    background-image: url("/1x/fondo.png");
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.bfix {
    border: 1px solid red;
}

.header {
    background-color: var(--yellow);
    padding: 10px;
}

.header--logo {
    align-self: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0rem 1rem;
}



.nav--list .nav--item {
    display: inline-block;
}

.nav--item {
    padding: 0rem 1.2rem;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

.slider--button {
    margin-top: 5rem;
}

.slider--image img {
    width: 100%;
    padding: 2rem;
}


.button-style {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.gap-separador {
    margin-top: 5rem;
}

.button-style__yellow {
    color: #000;
    background-color: var(--yellow);
    border-color: var(--yellow);
    font-weight: 700;
    font-size: 1.5rem;
    padding: .5rem 2rem;
}


.text-intro {
    color: var(--white);
    font-weight: 300;
    font-size: 25px;
    line-height: 1.5;
    text-align: center;
    padding: 0rem 5rem;
}

.h2-title {
    color: var(--white);
    text-align: center;
    font-size: 26px;
}

.text-intro strong {
    font-weight: 700;
    color: var(--yellow);
}

.deck-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--white);
}

.card-body {
    padding: 2rem;
}

.card-item {
    background-color: var(--gray);
    width: 360px;
    text-align: center;
    margin: 1rem 1.5rem;
    border-radius: 5%;
}

.footer {
    background-color: #1C1C1C;
}


.footer--contenedor {
    margin-top: 3rem;
    padding: 3rem;
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brand-carrousel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.brand {
    padding: 1.5rem;
}

.store-box {
    display: flex;
    justify-content: center;
}

.stores {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.store {
    padding: 1rem 2rem;
}

.store img {
    max-width: 200px;
}



.footer--col ul  {
    list-style: none;
    padding: 0rem 0rem;
}

.footer--col ul li  {
    list-style: none;
    padding: .3rem 0rem;
}